.userDatatable {
    padding: 20px;
    height: 600px;

    .userList {
        flex: 1;
        display: flex;
        padding: 10px;
        align-items: center;

        .left {
            flex: 1;
            color: #888;

        }

    }

  

}